<h1>Listing user_logins</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_logins.each do |user_login| %>
      <tr>
        <td><%= user_login.username %></td>
        <td><%= user_login.password %></td>
        <td><%= link_to 'Show', user_login %></td>
        <td><%= link_to 'Edit', edit_user_login_path(user_login) %></td>
        <td><%= link_to 'Destroy', user_login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User login', new_user_login_path %>
