<%= form_for(@user_datum) do |f| %>
  <% if @user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_datum.errors.count, "error") %> prohibited this user_datum from being saved:</h2>

      <ul>
      <% @user_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_activated %><br>
    <%= f.check_box :is_activated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
