<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_datum.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user_datum.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_datum.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_datum.description %>
</p>

<p>
  <strong>Is activated:</strong>
  <%= @user_datum.is_activated %>
</p>

<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
