<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">mHub</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<!-- <li class="active"><a href="#"><%= t "nav.feed" %></a></li> -->
					<li>
						<a href="#"><%= t "nav.search" %></a>
					</li>
					<li>
						<a href="#help"><%= t "nav.help" %></a>
					</li>
				</ul>
				<% if session[:user_id] == nil %>
				<form accept-charset="UTF-8" class="navbar-form pull-right" action="/user/login" class="formclass" method="post">
					<input class="span2" type="text" name="username" placeholder="<%= t "user.username" %>">
					<input class="span2" type="password" name="password" placeholder="<%= t "user.password" %>">
					<button type="submit" class="btn">
						<%= t "nav.login" %>
					</button>
					<%= link_to ( t "nav.register"), new_user_path, :class => "btn", 'data-no-turbolink' => true %>
					<%= link_to (t "nav.forgotten_pass"), pwd_recovery_path, :class => "btn", 'data-no-turbolink' => true %>

					<% else %>
					<form class="navbar-form pull-right" action="/user/logout" class="formclass" method="get">
						<strong><%= session[:user_name] %></strong>
						<button type="submit" class="btn">
							Odjava
						</button>

						<% end %>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<%= I18n.locale.upcase %> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="?locale=bs#">BS</a>
								</li>
								<li>
									<a href="?locale=en#">EN</a>
								</li>
							</ul>
						</div>
					</form>

			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>