<!DOCTYPE html>
<html>
<head>
  <title>NWTMarketinghub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => 'layouts/header' %>


    <%= yield %>

</body>
</html>
